<template>
  <div class="analysis-project-view">
    <AnalysisProject :analysisproject-save="doSave()"></AnalysisProject>
  </div>
</template>

<script>
// @ is an alias to /src
import AnalysisProject from '@/components/AnalysisProject.vue'

export default {
  name: 'AnalysisProjectView',
  components: {
    AnalysisProject
  },
  methods: {
    doSave() {
      this.$store.commit("saveAnalysisProject", this.$store.state.currentProject);
    }
  }
}
</script>
