<template>
  <div class="home">
    <AnalysisProjectList />
  </div>
</template>

<script>
// @ is an alias to /src
import AnalysisProjectList from '@/components/AnalysisProjectList.vue'
import { mapState } from 'vuex'

export default {
  name: 'home',
  components: {
    AnalysisProjectList
  },
  computed: mapState([
    "currentProject"
  ])
}
</script>
