<template>
  <div class="analysis-project-data">
    listview data here for project {{ currentProject.title }}
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'AnalysisProjectData',
  computed: mapState([
    "currentProject"
  ])
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
