<template>
  <div class="analysis-project-datasources">
    <ul id="analysis-project-datasources-list">
      <li v-for="s in currentProject.dataSources" v-bind:key="s.name">
        <b>{{ s.name }}</b> <button @click="removeDataSource(s.name)">Entfernen</button>
      </li>
      <li>
        <input type="file" ref="file" style="display: none" @change="startImportDialog($event)">
        <button @click="$refs.file.click()">Neue Datenquelle</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'AnalysisProjectSources',
  computed: mapState([
    "currentProject"
  ]),
  methods: {
    startImportDialog(event) {
      let file = event.target.files[0];
      this.currentProject.dataSources.push(
        {
          name: file.name,
          headers: [],
          rows: [],
          file: file
        }
      );
      this.$router.push({ 
        name: "project-datasource",
        params: {
          id: this.currentProject.id,
          dsid: file.name
        }
      });
    },
    removeDataSource(name) {
      let dataSources = [];
      for (let ds of this.currentProject.dataSources) {
        if (ds.name !== name) {
          dataSources.push(ds);
        }
      }
      this.currentProject.dataSources = dataSources;
      this.$emit("analysisproject-save", this.currentProject);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
