<template>
  <div class="analysis-project-list">
    <h1>{{ currentProject.title }}</h1>
    <ul id="analysis-project-list">
      <li v-for="p in analysisProjects" v-bind:key="p.id">
        <p :class="{ active: p.id == currentProject.id }"><router-link v-on:click.native="setCurrentProject(p)" :to='{ name: "project", params: { "id": p.id }}'>{{ p.title }}</router-link></p>
      </li>
      <li>
        Neues Projekt
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'AnalysisProjectList',
  props: {
    id: Number
  },
  computed: mapState([
    "currentProject",
    "analysisProjects"
  ]),
  methods: mapMutations([
    "setCurrentProject"
  ])
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
