<template>
  <div class="analysis-project">
    <h1>{{ currentProject.title }}</h1>
    <ul id="analysis-project">
      <li>
        <router-link :to='{ name: "project-stats", params: { "id": currentProject.id }}'>Statistik</router-link> 
      </li>
      <li>
        <router-link :to='{ name: "project-data", params: { "id": currentProject.id }}'>Rohdaten</router-link> 
      </li>
      <li>
        <router-link :to='{ name: "project-datasources", params: { "id": currentProject.id }}'>Datenquellen</router-link>
      </li>
    </ul>
    <router-view>

    </router-view>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'AnalysisProject',
  computed: mapState([
    "currentProject",
    "analysisProjects"
  ])
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
