<template>
  <div class="analysis-project-datasources">
    <label> Hat Kopfzeile 
      <input type="checkbox" ref="hasheaders" v-model="hasHeaders">
    </label>
    <label> Einlesen ab Zeilennummer 
      <input type="number" ref="offset" v-model="fileRowOffset">
    </label>
    <label> Trennzeichen
      <select ref="separator" v-model="separator">
        <option v-for="sep in availableSeparators" v-bind:key="sep">
          {{ sep }}
        </option>
      </select>
    </label>
    <label> Kodierung 
      <select ref="encoding" v-model="encoding">
        <option v-for="enc in availableEncodings" v-bind:key="enc">
          {{ enc }}
        </option>
      </select>
    </label>
    <DataGrid :data-model.sync="dataModel" />
    <div>
      <button @click="doImport()">Importieren</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import DataGrid from '@/components/DataGrid.vue'

export default {
  name: 'AnalysisProjectDataSource',
  components: {
    DataGrid
  },
  data: function() {
    return {
      fileContent: "",
      fileRowOffset: 0,
      hasHeaders: true,
      separator: ";",
      availableSeparators: [";", ",", " "],
      dataModel: {
        headers: [],
        rows: []
      },
      encoding: "UTF-8",
      availableEncodings: [
        "UTF-8",
        "LATIN-1",
        "ISO-8859-1"
      ]
    }
  },
  computed: {
    ...mapState([
      "currentProject"
    ]),
    rows10() {
      return {
        headers: this.dataModel.headers,
        rows: this.dataModel.rows.slice(0, 10)
      };
    }
  },
  methods: {
    doImport() {
      this.saveDataSource();
    },
    saveDataSource() {
      this.currentProject.dataSources.push(this.dataModel);
      this.$emit("analysisproject-save", this.currentProject);
    },
    parseContent() {
      let csvParse = function(content, hasHeaders, offset, separator) {
        let rows = content.split("\n").slice(offset);
        let headers = [];
        if (hasHeaders) {
          headers = rows.shift().split(separator);
        }
        let rowsWithFields = [];
        for (let row of rows) {
          const fields = row.split(separator);
          rowsWithFields.push(fields);
        }
        return { headers, rows: rowsWithFields };
      };

      if (!this.fileContent) {
        const src = this.currentProject.dataSources[
          this.currentProject.dataSources.length - 1
        ];
        if (src.file) {
          let vm = this;
          const reader = new FileReader();
          reader.readAsText(src.file, vm.encoding);
          reader.onload = function(evt) {
            vm.fileContent = evt.target.result;
            let offset = parseInt(vm.fileRowOffset) || 0;
            vm.dataModel = csvParse(vm.fileContent, vm.hasHeaders, offset, vm.separator);
          };
          reader.onerror = function(evt) {
            console.log("error reading file");
          }
        }
        else {
          console.log("no file provided");
        }
      }
      else {
        let offset = parseInt(this.fileRowOffset) || 0;
        this.dataModel = csvParse(this.fileContent, this.hasHeaders, offset, this.separator);
      }
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      this.parseContent();
    })
  },
  watch: {
    "encoding": function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.fileContent = "";
        this.parseContent();
      }
    },
    "separator": function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.parseContent();
      }
    },
    "fileRowOffset": function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.parseContent();
      }
    },
    "hasHeaders": function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.parseContent();
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
input[type="number"] {
  width: 3em;
}
</style>
