<template>
  <div class="data-grid container" :style="{ 'grid-template-columns': columnConfigInternal }">
    <!--div class="row"-->
      <div class="column header" v-for="h in headersInternal" v-bind:key="h.key">
        <b>{{ h.name }}</b>
      </div>
    <!--/div-->
    <!--div class="row" v-for="row in rowsInternal" v-bind:key="row.id"-->
      <div class="column field" v-for="f in fieldsInternal" v-bind:key="f.key">
        {{ f.value }}
      </div>
    <!--/div-->
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'DataGrid',
  props: {
    columnConfig: String,
    dataModel: {
      headers: [],
      rows: []
    }
  },
  data: function() {
    return {
      hasHeaders: true,
      readOnly: true
    }
  },
  computed: {
    columnConfigInternal() {
      return this.dataModel.headers.map(() => "1fr").join(" ");
    },
    headersInternal() {
      let headers = [];
      let i = 1;
      for (let h of this.dataModel.headers) {
        headers.push({ id: i, key: "0." + i, name: h, alias: h });
        i = i + 1;
      }
      return headers;
    },
    fieldsInternal() {
      let fields = [];
      let i = 1;
      for (let row of this.dataModel.rows) {
        let j = 1;
        for (let field of row) {
            fields.push({ id: j, key: i + "." + j, value: field });
            j = j + 1;
        }
        i = i + 1;
      }
      return fields;
    },
    rowsInternal() {
      let rows = [];
      let i = 1;
      for (let row of this.dataModel.rows) {
        let fields = [];
        let j = 1;
        for (let field of row) {
            fields.push({ id: j, key: i + "." + j, value: field });
            j = j + 1;
        }
        rows.push({ id: i, fields: fields })
        i = i + 1;
      }
      return rows;
    }
  },
  methods: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.data-grid.container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
